.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #424242;
    color: #fff;
  }
  
  .welcome-message {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .sub-message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  button {
    margin-top: 2rem;
    font-size: 1.2rem;
    background-color: #ffc107;
    color: #424242;
  }


  .cardwidth{
    width: 300px;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
  }
  
  .card-header {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .card-header h2 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-body p {
    margin: 0;
    font-size: 24px;
    color: #666;
  }
  
