<!-- nav -->
<alert></alert>

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!!isAuthenticated">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/usuario">Usuarios</a>
    <a class="nav-item nav-link" routerLink="/turma">Turmas</a>
    <a class="nav-item nav-link" routerLink="/equipe">Equipes</a>
    <a class="nav-item nav-link" routerLink="/tipocursos">Cursos</a>
    <a class="nav-item nav-link" routerLink="/cursosgraduacao">Graduações</a>
    <a class="nav-item nav-link" routerLink="/habilidades">Habilidades</a>
    <a class="nav-item nav-link" routerLink="/tipotransporte">Transportes</a>
    <a class="nav-item nav-link" routerLink="/aluno">Alunos</a>
    <a class="nav-item nav-link" routerLink="/chamada">Chamada</a>
  </div>
  <div class="btn btn-outline-light ml-auto" (click)="logout()">Logout</div>

</nav>

<!-- main content container -->

<div class="container mt-5" >
    <router-outlet></router-outlet>
</div>
