<form (ngSubmit)="onSubmit()" class="col-12">


  <table class="table table-striped table-bordered table-hover table-sm text-center">
    <thead>
      <tr>
        <th scope="col" style="width:300px">Nome</th>
        <th scope="col" *ngFor="let data of listaDeDatas; let i = index ; trackBy:trackByFn">
          <mat-form-field>
            <input matInput type="date" onblur="setData($event, i)"/>
          </mat-form-field>
        </th> <!-- data da chamada -->
      </tr>
    </thead>

    //CORRIGRI

    <tbody>
      <tr *ngFor="let chamada of listaDeChamada;let i = index ; trackBy:trackByFn">
        <td><b>{{ chamada.alunoturmacurso.nome }}</b></td>
        <td  [class]="listaDeChamada[i].presenca">
            <mat-select [(ngModel)]="listaDeChamada[i].presenca" [ngModelOptions]="{standalone: true}"
             
            >
              <mat-option value="Presente">Presente</mat-option>
              <mat-option value="Ausente">Ausente</mat-option>
              <mat-option value="Feriado">Feriado</mat-option>
              <mat-option value="Cancelado">Cancelado</mat-option>
            </mat-select>
        </td>
      </tr>
    </tbody>
  </table>

  <br />

  <!-- Tipo do curso -->


  <div class="actions col-12 row">
    <button mat-raised-button color="primary" type="submit" class="col-2 mr-1">
      {{ "Atualizar" }}
    </button>
    <button
      class="col-2"
      mat-raised-button
      color="accent"
      type="button"
      (click)="onCancel()"
    >
      Cancelar
    </button>
  </div>
</form>
