<form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-12">
  <div class="row">
    <mat-form-field appearance="outline" class="col-4">
      <mat-label>RA</mat-label>
      <input matInput formControlName="ra" />
      <mat-error *ngIf="form.get('ra')!['invalid']"
        >Campo obrigatório</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-4">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="form.get('password')!['invalid']"
        >Campo obrigatório</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-4 ml-auto" >
      <mat-label>Tipo</mat-label>
      <mat-select formControlName="tipo" >
        <mat-option value="administrador">Administrador</mat-option>
        <mat-option value="professor">Professor</mat-option>
        <mat-option value="instrutor">Instrutor</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tipo')!['invalid']"
        >Campo obrigatório</mat-error
      >
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="nome" />
      <mat-error *ngIf="form.get('nome')!['invalid']"
        >Campo obrigatório</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="form.get('email')!['invalid']"
        >Campo obrigatório</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Contato</mat-label>
      <input  type="text" matInput maxlength="15" formControlName="telefone" />
      <mat-error *ngIf="form.get('telefone')!['invalid']"
        >Campo obrigatório</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="col-3">
      <mat-label>Curso Graduação</mat-label>
      <mat-select formControlName="cursoGraduacao">
        <mat-option
          *ngFor="let curso of cursosGraduacaoOptions"
          [value]="curso"
          >{{ curso.nome }}</mat-option
        >
      </mat-select>
      <mat-error *ngIf="form.get('cursoGraduacao')!['invalid']"
        >Campo obrigatório</mat-error
      >
    </mat-form-field>
  </div>

  <div class="actions col-12 row">
    <button mat-raised-button color="primary" type="submit" class="col-2 mr-1">
      {{ isNew ? "Cadastrar" : "Atualizar" }}
    </button>
    <button
      class="col-2"
      mat-raised-button
      color="accent"
      type="button"
      (click)="onCancel()"
    >
      Cancelar
    </button>
  </div>
</form>
