.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5rem 1rem;
    background: transparent;
    border: 0;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: inherit;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}